* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #1f1b2d;
}
header {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 250px;
    font-size: 22px;
    color: rgb(118, 118, 228);;
}
ul {
    display: flex;
    justify-content:center;
}
li {
    font-size: 14px;
    list-style: none;
    display: flex;
}
li:hover {
    cursor: pointer;
    color: black;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
}

.container-header {
    display: flex;
    text-align: center;
    margin-right: 250px;
}
.btn-header {
    width: 150px;
    height: 50px;
    border: none;
    color:  rgb(255, 255, 255);
    background-color: rgb(46, 119, 203);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0  #42fbf2;
    transition: ease-out 0.5s;
    font-size: 24px;
    outline: none;
}
.btn-header:hover {
    cursor: pointer;
    color: black;
    box-shadow: inset 300px 0 0 0  #42fbf2;
}

.main-1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.main-1-text {
    color:rgb(255, 255, 255);
 
}
.main-1-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 380px;
    margin-top: -150px;
}
.button-1 {
    margin-left: -200px;
    margin-top: 80px;
    text-align: center;
}

.btn-1 {
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 24;
    font-weight: 700;
    outline: none;
    border: 1px solid #ffffff;
    position: relative;
    z-index: 1;
    background-color: rgb(46, 119, 203);
}
  .btn-1:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
  .btn-1::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:  #42fbf2;
}
  
  .btn-1:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btn-2 {
    margin-left: 20px;
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 24;
    font-weight: 700;
    outline: none;
    border: 1px solid #ffffff;
    position: relative;
    z-index: 1;
    background-color: rgb(46, 119, 203);
}
  .btn-2:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
  .btn-2::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:  #42fbf2;
}
  
  .btn-2:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
  .footer-1 {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.main-2 {
    display: flex;
    align-items:center;
    justify-content:center;
    margin-left: 120px;

}

.main-2-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 150px;
    width: 725px;
    height: 670px;
}
.main-2-text {
    margin-left: 200px;
    margin-top: 300px;
    color: #fff;
}
.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: -310px;
    text-align: center;
}
.main-3 {
    margin-top: 200px;
    color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main-3 div {
    width: 362px;
    height: 389px;
    background-color: #363042;
    text-align: center;
    border-radius: 10px;
    padding-top: 50px;
}
.main-3 h2 {
    padding-top: 50px;
    font-weight: 600;
}
.main-3 p {
    font-weight: 600;
    padding-top: 50px;
}
.tochki-1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-4 {
    display: flex;
    justify-content: center;
}
.main-4-text {
    margin: 300px;
    color: #ffffff;
}
.main-4-text p {
    font-size: 16px;
}
.main-4-img {
    margin-top: 260px;
    margin-left: -380px;
}
.footer-2 {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 508px;
    width: auto;
    background-color: #292335;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.footer-2 p {
    font-weight: 100;
}

.footer-2-box-2 {
    display: flex;
    flex-direction: column;
}
.footer-2-box-2 a {
    margin-top: 5px;
    font-weight: 300;
}
.footer-2-box-3 {
    display: flex;
    flex-direction: column;
}
.footer-2-box-3 a {
    margin-top: 5px;
    font-weight: 300;
}

.footer-2-box-4 {
    display: flex;
    flex-direction: column;
}
.footer-2-box-4 a {
    margin-top: 5px;
    font-weight: 300;
}
.footer-2-box-5 {
    display: flex;
    flex-direction: column;
}
.footer-2-box-5 a {
    margin-top: 5px;
    font-weight: 300;
}
